@import "tailwindcss";

@theme {
  --color-fon: #0d1117;
  --color-fon2: #161b22;
  --color-fon3: #1c2333;
  --color-karta: #21262d;
  --color-chegara: #30363d;
  --color-aksent: #e94560;
  --color-aksent2: #ff6b6b;
  --color-yashil: #3fb950;
  --color-sariq: #d29922;
  --color-moviy: #58a6ff;
  --color-matn: #e6edf3;
  --color-matn2: #7d8590;
  --color-matn3: #484f58;
  
  --font-playfair: 'Playfair Display', serif;
  --font-dm: 'DM Sans', sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #0d1117;
}
::-webkit-scrollbar-thumb {
    background: #30363d;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #484f58;
}
