version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    container_name: ajrim-app
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./ajrim:/var/www/html
    networks:
      - laravel

  mysql:
    image: mysql:8.0
    container_name: ajrim-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ajrim_db
      MYSQL_USER: ajrim_user
      MYSQL_PASSWORD: ajrim_pass
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - laravel

  nginx:
    image: nginx:latest
    container_name: ajrim-nginx
    restart: unless-stopped
    ports:
      - "8007:80"
    volumes:
      - ./ajrim:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

volumes:
  db_data:

networks:
  laravel:
    driver: bridge